<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js"></script>
	<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css" rel="stylesheet" />
	<link rel="stylesheet" href="/stylesheets/post-show.css">
	<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />

<style>
  body {
    margin: 0;
    padding: 0;
  }

  #map {
    width: 350px;
    height: 200px;
  }

  .marker {
    background-image: url('/images/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  .mapboxgl-popup {
    max-width: 200px;
  }

  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
</style>
</head>
<body>
	<% include ../partials/navbar %>
	<% include ../partials/flash-messages %>
	<%- body -%>
	<div id='map'></div>
	<script>
		var post = <%- JSON.stringify(post) %>;
	</script>
	<script src="/javascripts/post-show.js"></script>

<script>
	var post = <%- JSON.stringify(post) %>;
	mapboxgl.accessToken = 'pk.eyJ1IjoicHJhdmVlbmRiIiwiYSI6ImNqd2V6cmV6OTBtdmozeXBiczR4emxkMnUifQ.NOEa5dpBgs3PPvIZRV2VjA';
	
	var map = new mapboxgl.Map({
	  container: 'map',
	  style: 'mapbox://styles/mapbox/light-v9',
	  center: post.coordinates,
	  zoom: 5
	});
	
	// create a HTML element for our post location/marker
	var el = document.createElement('div');
	el.className = 'marker';
	
	// make a marker for our location and add to the map
	new mapboxgl.Marker(el)
	.setLngLat(post.coordinates)
	.setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
	.setHTML('<h3>' + post.title + '</h3><p>' + post.location + '</p>'))
	.addTo(map);
</script>	
</body>
</html>